<footer>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="flex-column mx-auto text-center">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "にゅーぶい！とは", pages_about_path, class: "nav-link active pr-5" %>
            </li>
            <li class="nav-item">
              <a class="nav-link px-5 disabled" aria-current="page" href="#">お問い合わせ</a>
            </li>
            <li class="nav-item">
              <%= link_to "利用規約", pages_terms_path, class: "nav-link active px-5" %>
            </li>
            <li class="nav-item">
              <%= link_to "プライバシーポリシー", pages_privacy_policy_path, class: "nav-link active pl-5" %>
            </li>
          </ul>
          <div class="pt-4 pb-3">
            <small>© 2024 NewVtuber</small>
          </div>
        </div>
      </div>
    </div>
  </nav>
</footer>