<div class="container">
  <div class="row mt-5 mb-5 text-center">
    <div class="col-12">
      <% if @vtuber.present? %>
        <% @vtuber.each_slice(4) do |vtuber_row| %>
          <div class="d-flex">
            <% vtuber_row.each do |vtuber| %>
              <div class="col-md-3 mb-4">
                <%= link_to show_path(vtuber.id), class: "text-decoration-none" do %>
                  <%= image_tag vtuber.image.url, class: "rounded-circle border border-dark", size: "250x250" %>
                  <p class="mt-3 mb-5 fs-1 text-body"><%= vtuber.name %></p>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        いません
      <% end %>
      <div class="col-12 d-flex justify-content-center">
        <%= paginate @vtuber, theme: 'bootstrap-5' %>
      </div>
    </div>
  </div>
</div>
