.twitter-timeline {
  margin-left: auto;
  margin-right: auto;
}

// フッターの固定
.footerFixed{
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  position: relative;/* ←相対位置 */
  padding-bottom: 300px; /* ←フッターの高さを指定 */
  box-sizing: border-box;
  /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  z-index: 1052;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 2px 15px;
    color: #000;
    display: block;
    padding: 3px;
  }
  li:hover, li:focus {
    background-color: #99ffcc;
  }
}

// モーダルの背景色
// .modal-backdrop {
//   background-color: rgba(0, 0, 0, 0);
// }

.checked_notification {
  background-color: #ced4da;
}
.unchecked_notification {
  background-color: #ffffff;
}
.hover_notification:hover {
  background-color: #ffffbc;
}

.profile-hover:hover {
  background-color: #b7ffdb;
}

.index-name {
  margin-inline: auto;
  max-inline-size: max-content;
}

.filtering_search_hover:hover {
  color: #00ff7f;
  cursor: pointer;
}

.profile_setting_hover:hover {
  color: #ff7fff;
  cursor: pointer;
}