.twitter-timeline {
  margin-left: auto;
  margin-right: auto;
}

// フッターの固定
.footerFixed{
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  position: relative;/* ←相対位置 */
  padding-bottom: 300px; /* ←フッターの高さを指定 */
  box-sizing: border-box;
  /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: pointer;
  z-index: 1052;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 2px 15px;
    color: #000;
    display: block;
    padding: 3px;
  }
  li:hover, li:focus {
    background-color: #ffd6ff;
  }
}

#affiliation_autocomplete .ui-autocomplete {
  z-index: 1050;
}

.read_notification {
  background-color: #ced4da;
}
.unread_notification {
  background-color: #ffffff;
}
.hover_notification:hover {
  background-color: #ffffbc;
}

.profile-hover:hover {
  background-color: #b7ffdb;
}

.index-name {
  display: inline-block;
  text-align: justify;
  word-break: break-all;
}

.multiline-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.filtering_search_hover:hover {
  color: #00ff7f;
  cursor: pointer;
}

.profile_setting_hover:hover {
  color: #ff7fff;
  cursor: pointer;
}

.profile_setting_place.force-refresh {
  border-color: #dfe2e6;
  background-color: #ffffff;
}

.profile_setting_place:hover {
  color: #ffffff;
  border-color: #dfe2e6;
  background-color: #ff7fff;
}

.profile_setting_textbox:focus {
  outline: 3px solid #ff7fff;
}

.comment-icon:hover {
  opacity: 0.5;
}

.sns-logo:hover {
  opacity: 0.5;
}

.favorite-icon:hover {
  opacity: 0.5;
}

.mypage-favorite-icon:hover {
  opacity: 0.5;
}