.btn-setting {
  background-color: #ff7fff;
  color: #ffffff;
}
.btn-setting:hover {
  background-color: #ff00ff;
  color: #ffffff;
}

.btn-mypage {
  background-color: #7f7fff;
  color: #ffffff;
}
.btn-mypage:hover {
  background-color: #0000ff;
  color: #ffffff;
}

.btn-comment {
  background-color: #7fffbf;
  color: #ffffff;
}
.btn-comment:hover {
  background-color: #00ff7f;
  color: #ffffff;
}