.h-form-width {
  width: 800px;
}

.si-form-width {
  width: 500px;
}

.form-margin {
  margin-top: 80px;
}

.m-button {
  border: none;
  outline: none;
  background: transparent;
}

.twitter-timeline {
  margin-left: auto;
  margin-right: auto;
}